	<% include header %>
	<input type="text" id ="id">
	<input type="text" id = "password">
	<button id ="login">로그인</button>
	<script>

	$("#login").click(function(){
		$.ajax({
			url     : '/login'
			,type    : 'POST'
			,async   : false
			,data    : {id : $("#id").val(),password : $("#password").val()}
			,success : function(dt) {
				alert(dt);
			}
		});
	});

	</script>
	<% include footer %>
